# These requirements are installed to ./app/external and deployed to appspot

pytz
voluptuous
git+git://github.com/Workiva/furious.git#egg=furious
git+https://github.com/blainegarrett/rest-core@0.0.4-alpha#egg=rest-core
#git+https://github.com/blainegarrett/rest-core@master#egg=rest-core
PyJWT